<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config"> 
       
	<!-- https://stackoverflow.com/questions/25487116/log4j2-configuration-no-log4j2-configuration-file-found -->
     
    <Properties>
        <Property name="basePath">./logs/log4j-journal.log</Property>
        
<!--  		<system property>-Dlog4j.configurationFile=file:/src/main/resources/log4j2.xml</system>
     -->
        
        
        
        
    </Properties>
    <Appenders>
        <!-- File Appender -->
        <File name="FILE" fileName="${basePath}" append="true">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
        </File>
        
    </Appenders>
    <Loggers>
        <Logger name="com.jcg" level="debug" />
        <!-- Niveau mimimum de traçage : "trace" (tout)  -->
        <Root level="trace">
            <!-- <AppenderRef ref="STDOUT" /> -->
            <AppenderRef ref="FILE" />
		</Root>
    </Loggers>
</Configuration>